* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 20px;
}

.home-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
   /* Increased gap for better spacing */
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 3em;
  background-color: white;
  max-width: 60em;
  border-radius: 20px;
  border: 0.5px solid #777;
  
  
}

.home-innerbox {
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white; /* Ensure each box has a background */
  border: 2px solid #ccc; /* Add border to each box */
  
  width: 100%; /* Ensure boxes fill the grid cells */
}

.home-innerbox img {
  max-width: 100%;
  height: auto;
  border-radius: 8px; /* Add border radius to images */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.logo img {
  height: 60px;
}

.home-box:hover {
  background-color: #313633;
}

@media screen and (max-width: 769px) {
  .home-box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
      transform: none; /* Remove skew for smaller screens */
      width: 100%;
      padding: 0;
      border: none;
  }
  
  .home-innerbox {
      transform: none; /* Remove counter skew for smaller screens */
  }
}
