.net-box {
    margin: auto;
    width: 75%;
    padding: 2em;
    font-size: 20px;
    background-color: rgb(145, 221, 191);
}

.net-image img {
    margin-top: 20px;
    max-width: 300px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .net-box {
        width: 90%;
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .net-box {
        width: 95%;
        font-size: 16px;
    }
}
