.pur-box {
    margin: auto;
    max-width: 1100px; /* Adjusted for 1920x1080 resolution */
    padding: 2em;
    font-size: 25px;
    margin-bottom: 20px;
    background-color: rgb(145, 221, 191);
}

.pur-list {
    list-style: none;
}

@media screen and (max-width: 1920px) {
    .pur-box {
        padding: 1.5em; /* Adjusted padding for larger screens */
    }
}

@media screen and (max-width: 1600px) {
    .pur-box {
        font-size: 23px;
    }
}

@media screen and (max-width: 1200px) {
    .pur-box {
        font-size: 23px; /* Further adjusted font size for larger screens */
    }
}

@media screen and (max-width: 768px) {
    .pur-box {
        width: 90%;
        padding: 1em;
        font-size: 23px;
    }
}

@media screen and (max-width: 480px) {
    .pur-box {
        width: 95%;
        padding: 0.5em;
        font-size: 23px;
    }
}
