.rep-box {
    margin-top: 15px;
    margin: auto;
    width: 80%; /* Adjust this percentage as needed */
    max-width: 1100px; /* Added maximum width for larger screens */
    padding: 2em;
    font-size: 23px;
    background-color: rgb(145, 221, 191);
}

@media screen and (max-width: 768px) {
    .rep-box {
        width: 90%;
        max-width: 90%; /* Adjust maximum width for medium-sized screens */
        padding: 1em;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .rep-box {
        width: 95%;
        max-width: 95%; /* Adjust maximum width for small screens */
        padding: 0.5em;
        font-size: 14px;
    }
}
