.repair-form {
  max-width: 800px; /* Adjusted max-width for larger screens */
  margin: auto;
  padding: 40px; /* Increased padding for better spacing on larger screens */
}

.form-group {
  margin-top: 30px; /* Adjusted margin for better spacing */
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 10px; /* Increased margin for better readability */
}

input,
select,
textarea {
  width: calc(100% - 16px); /* Adjusted width calculation to accommodate larger screens */
  padding: 12px;
  font-size: 18px; /* Increased font size for better readability */
  border: 2px solid #ccc; /* Increased border thickness for better visibility */
  border-radius: 6px; /* Slightly increased border radius */
  box-sizing: border-box;
}

button {
  background-color: #91ddbf;
  color: white;
  padding: 14px 24px; /* Increased padding for better button size */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 30px;
  width: calc(100% - 16px); /* Adjusted width calculation */
}

button:hover {
  background-color: #78c5a8;
}

/* Responsive styles remain the same */
@media screen and (max-width: 600px) {
  .repair-form {
    max-width: 100%;
    padding: 20px;
  }
}

@media screen and (max-width: 400px) {
  input,
  select,
  textarea {
    font-size: 16px; /* Adjusted font size for smaller screens */
  }
}
