.rep-box {
    margin-top: 15px;
    margin: auto;
    width: 80%;
    padding: 2em;
    font-size: 20px;
    background-color: rgb(145, 221, 191);
  }
  
  @media screen and (max-width: 768px) {
    .rep-box {
        width: 90%;
        padding: 1em;
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .rep-box {
        width: 95%;
        padding: 0.5em;
        font-size: 14px;
    }
}
